<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <script src="https://kit.fontawesome.com/08481473c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
</head>


<body>

    <section id="app">

        <div class="container-lg">

            <div class="row row-app">
                
                <!-- SIDEBAR -->

                <div class="col-md-shrink col-lg-shrink sidebar ">



                    <!-- Sidebar header with our personal info  -->
                    
                    <div class="personal-info">
                        <img class="profile-picture" src="./img/avatar_io.jpg" alt="my profile picture">
                        <ul class="personal-icons">
                            <li><a href="#"><i class="fa-solid fa-circle-notch"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-message"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                        </ul>
                    </div>


                    <!-- Sidebar notifications -->

                    <div class="notifications">
                            <i class="fa-solid fa-bell-slash notifications-icon"></i>
                        <div>
                            <h3 class="notifications-subtitle">Ricevi notifiche di nuovi messaggi</h3>
                            <a class="notifications-link" href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>


                    <!-- Sidebar search bar -->

                    <div class="search-bar">
                        <input type="text" name="search" class="bar" placeholder="Cerca o inizia una nuova chat">
                        <i class="fa-solid fa-magnifying-glass side-search-icon"></i>
                    </div>



                    <!-- Sidebar with all the chat info -->

                    <ul class="chat-info">
                        <li class="chat-info-specifications" v-for= "(contact, i) in contacts" :class=" i === currentContactIndex ? `active` : `` " @click="currentActiveContact(i)">
                            <img class="chat-profile-picture" :src="contact.avatar" alt="friend profile picture">
                            <div class="other-person-info">
                                <h3 class="chat-name">{{ contact.name }}</h3>
                                <p class="chat-preview">Lorem ipsum dolor sit amet</p>
                            </div>
                            <div class="chat-time">16:15</div>
                        </li>
                    </ul>


                    
                </div>

                <!-- APP BAR -->
    
                <div class="col-12 col-md-grow col-lg-grow">

                    <!-- Header app bar -->

                    <header class="contact-info">
                        <img class="contact-info-picture" :src="contacts[currentContactIndex].avatar" alt="friend profile picture">
                        <div class="person-contact-info">
                            <h3 class="person-name">{{ contacts[currentContactIndex].name }}</h3>
                            <p class="last-access">Ultimo accesso oggi alle 16:26</p>
                        </div>
                        <ul class="contact-info-icons">
                            <li><a href="#"> <i class="fa-solid fa-magnifying-glass search-icon"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-paperclip"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                        </ul>
                    </header>

                    <!-- Main app bar -->

                    <main class="main-chat">
                        

                        <div class="chat-content d-flex" v-for= "(el, i) in contacts[currentContactIndex].messages" :class="el.status">
                            <div class="chat-content-message">{{ el.message }}</div>
                            <div class="chat-content-time">{{ el.date.slice(11,16) }}</div>
                            <i class="fa-solid fa-chevron-down chat-content-arrow"></i>
                        </div>

                        <!-- <div class="chat-content chat-content-white">
                            <div class="chat-content-message">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, accusamus? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem eos autem repellendus voluptates facere ex voluptatibus alias quos mollitia nostrum, nam dicta nobis incidunt officiis hic natus doloribus possimus asperiores.</div>
                            <div class="chat-content-time">16:15</div>
                            <i class="fa-solid fa-chevron-down chat-content-arrow"></i>
                        </div> -->

                    </main>

                    <!-- Footer app bar -->

                    <footer class="type-chat">
                        <a href="#"><i class="fa-regular fa-face-smile emoji-icon"></i></a>

                        <input
                        type="text" 
                        placeholder="Scrivi un messaggio" 
                        class="chat-box" 
                        v-model.trim="inputMessageValue"
                        @keyup.enter="sendMessage(), receiveMessage()">

                        <a href="#"><i class="fa-solid fa-microphone recording-icon"></i></a>
                    </footer>

                </div>

            </div>
            
        </div>

    </section>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/app.js"></script>
</body>


</html>